<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fadhilsuhendi.gradeandscheduler" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="GradeAndScheduler" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculateGrade"
            android:label="GradeAndScheduler" >

        </activity>
        <activity
            android:name=".Calculate_Point"
            android:label="GradeAndScheduler" >

        </activity>
        <activity
            android:name=".Category"
            android:label="GradeAndScheduler" >

        </activity>

    </application>

</manifest>
